* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

*::selection {
  background: red;
  color: #fff;
}
